* {
  text-transform: uppercase;
  font-family: "Baloo 2", cursive;
}

body {
  text-align: center;
  background-color: rgb(166, 248, 166);
}

#contenedor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 80vw;
  height: 90vw;
  max-width: 80vw;
  max-height: 90vw;
  margin: 0 auto;
  border: 5px solid #ffffff;
  background-color: white;
  margin-top: 5px;
}

.pieza {
  width: 25vw;
  height: 30vw;
  max-width: 20vw;
  max-height: 10vh;
  margin: 0 auto;
  background-color: white;
  background-image: url(empanada.jpg);
  opacity: 0.83;
  background-size: cover;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 4px;
  transition: transform 0.2s;
}

.seleccionada {
  outline: 3px solid red;
}

.fija {
  cursor: default;
  opacity: 1;
  outline: none;
}

#dialogue-text {
  font-size: 1.1rem;
  border-radius: 10px;
  color: #201d1d;
  text-transform: uppercase;
  margin-top: 10%;
  padding: 10px;
}

#mensaje {
  display: none;
  font-size: 1rem;
  color: green;
  background-color: rgba(240, 248, 255, 0.76);
  border-radius: 15px;
  margin: 10px auto;
  padding: 10px 0px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.boton {
  margin: 10px;
  background-color: #61ba53;
  color: white;
  padding: 8px 16px;
  font-size: 1.1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 3px 5px 3px #427f39;
}

.boton:hover {
  background-color: #4a973e;
}

#letras {
  color: #3cb07f;
}

#titulo-region {
  font-size: 1.2rem;
  max-width: 90vw;
  padding: 8px 10px;
  background-color: #2c922a;
  border-radius: 30px;
  color: white;
  box-shadow: 2px 3px 3px 1px rgb(67, 63, 63);
  margin: 15px auto;
  text-transform: uppercase;
}

#personaje {
  display: flex;
  flex-direction: row;
  margin: 10px auto;
  width: 90vw;
  background-color: rgba(255, 255, 255, 0.933);
  border-radius: 20px;
  box-shadow: 0px 2px 2px 2px rgba(139, 139, 139, 0.879);
  padding: 5px;
}

#character img {
  width: 70px;
  height: auto;
  margin-top: 5px;
  animation: pj 2s infinite;
}

#nivel {
  color: white;
  font-size: 1.5rem;
  position: relative;
  animation-name: example;
  animation-duration: 3s;
}

@keyframes example {
  0% {
    top: 0px;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 0px;
  }
}

@keyframes pj {
  0% {
    top: 0px;
    left: 0;
  }
  50% {
    top: 10px;
    left: 5px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}

/* --- TABLETS: min-width 600px --- */
@media (min-width: 500px) {
  #contenedor {
    width: 80vw;
    height: 60vw;
    max-width: 80vw;
    max-height: 60vw;
  }

  .pieza {
    width: 25vw;
    height: 20vw;
    max-width: 70vmin;
    max-height: 70vmin;
  }
  #personaje {
    width: 400px;
    border-radius: 30px;
    flex-direction: row;
    padding: 10px 20px;
  }
  #character img {
    width: 120px;
    margin-top: 10px;
  }
  #titulo-region {
    font-size: 1.5rem;
    max-width: 70vw;
    padding: 10px 20px;
    border-radius: 40px;
    margin: 20px auto;
  }
  #dialogue-text {
    font-size: 1.3rem;
    margin-top: 10%;
    padding: 15px;
  }
  #nivel {
    font-size: 2rem;
    margin: 10px;
  }
  .boton {
    font-size: 1.2rem;
    padding: 10px 20px;
  }
}

/* --- DESKTOP: min-width 900px --- */
@media (min-width: 900px) {
  #contenedor {
    width: 80vw;
    height: 60vw;
    max-width: 80vw;
    max-height: 60vw;
  }

  .pieza {
    width: 25vw;
    height: 20vw;
    max-width: 70vmin;
    max-height: 70vmin;
  }

  #personaje {
    width: 40vmin;
    border-radius: 40px;
    flex-direction: row;
    box-shadow: 0px 3px 3px 3px rgba(139, 139, 139, 0.879);
    padding: 15px 30px;
  }
  #character img {
    width: 16vmin;
    margin-top: 20px;
  }
  #titulo-region {
    font-size: 5vmin;
    max-width: fit-content;
    padding: 10px 20px;
    border-radius: 50px;
    margin: 30px auto;
  }
  #dialogue-text {
    font-size: 3vmin;
    margin-top: 10%;
    padding: 20px;
  }
  #nivel {
    font-size: 5vmin;
    margin: 10px;
  }
  .boton {
    margin-top: 25px;
    font-size: 3vmin;
    padding: 12px 24px;
  }
}

/* --- LARGE SCREENS: min-width 1200px --- */
@media (min-width: 1200px) {
  #contenedor {
    width: 50vw;
    height: 40vw;
    gap: 0;
  }

  .pieza {
    width: 16vw;
    height: 12vw;
  }
  
  #personaje {
    width: 70vmin;
    border-radius: 50px;
    flex-direction: row;
    box-shadow: 0px 3px 3px 3px rgba(139, 139, 139, 0.879);
    padding: 20px 40px;
  }

  #mensaje {
    width: 50vw;
    font-size: 2rem;
    padding: 20px 0px;
  }
}
