* {
  text-transform: uppercase;
  font-family: "Fredoka";
}

body {
  margin: 0;
  padding: 0;
}
#cover {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.342);
}
#map-frame {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  z-index: 1; /* Fondo */
}

#character img {
  width: 150px;
}

#dialogue-box {
  width: 50%;
  background: rgba(255, 255, 255, 0.9);
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: -40%;
  left: 60%;
  transform: translateX(-50%);
  z-index: 3;
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: "Fredoka", cursive;
  text-align: center;
  transition: bottom 0.5s ease;
  overflow: hidden;
  backdrop-filter: blur(5px);
  border: 2px solid rgba(255, 255, 255, 0.3);
  animation: slideUp 0.5s forwards;
}
@keyframes slideUp {
  from {
    bottom: -40%;
  }
  to {
    bottom: 20px;
  }
}

#dialogue-text {
  font-size: 2.5rem;
}

#personaje {
  z-index: 4;
  width: 100%;
  display: flexbox;
  flex-direction: row;
  position: absolute;
}

#next-btn {
  padding: 10px;
  font-size: 10px;
  font-family: "Fredoka" cursive;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.2s ease;
}
#next-btn svg {
  color: rgb(94, 189, 11);
  transform: rotate(-90deg); /* Lo rotás */
  width: 60px;
  height: 60px;
  pointer-events: none; /* el SVG no intercepta el clic */
  user-select: none;
}
#next-btn:hover {
  transform: scale(1.05);
}

#next-btn:active {
  transform: scale(0.95);
}

svg {
  width: 20px;
}


#audio {
  border: none;
  border-radius: 20px;
  padding: 10px;
  transition: transform 0.3s;
  display: flex;
  cursor: pointer;
}
#audio:hover {
  transform: scale(1.1);
  cursor: pointer;
  background-color: rgba(200, 200, 200, 0.365);
}

#audio img {
  width: 30px;
  height: auto;
}


@media (max-width: 320px) {
  #dialogue-box {
    background: rgba(255, 255, 255, 0.9);
    width: 80%;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
  }

  #personaje {
    z-index: 4;
    width: 100%;
    display: flexbox;
    flex-direction: row;
    position: absolute;
  }

  #dialogue-text {
    font-size: 0.8rem;
  }

  #next-btn svg {
    width: 40px;
  }

  #character img {
    width: 60%;
  }
}
@media (min-width: 321px) {
  * {
    margin: 0;
    padding: 0%;
  }

  #dialogue-box {
    background: rgba(255, 255, 255, 0.9);
    width: 60%;
  }

  #personaje {
    z-index: 4;
    margin-top: 30%;
    width: 100%;
    display: flexbox;
    flex-direction: row;
    position: absolute;
  }

  #dialogue-text {
    font-size: 1rem;
  }

  #next-btn svg {
    width: 50px;
  }

  #character img {
    width: 40%;
  }
}
@media (min-width: 480px) {
  #dialogue-box {
    width: 55%;
  }

  #dialogue-text {
    font-size: 1.2rem;
  }

  #next-btn svg {
    width: 55px;
    height: 55px;
  }
  #character img {
    width: 30%;
  }
}
@media (min-width: 620px) {
  #dialogue-box {
    width: 50%;
  }

  #dialogue-text {
    font-size: 1.5rem;
  }

  #next-btn svg {
    width: 60px;
    height: 60px;
  }
  #character img {
    width: 20%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  #dialogue-box {
    width: 40%;
  }
  #personaje {
    margin-top: 45%;
    align-self: center;
  }
  #dialogue-text {
    font-size: 1.9rem;
  }
  #next-btn svg {
    width: 65px;
    height: 65px;
  }
  #character img {
    width: 20%;
  }
}
@media (min-width: 1024px) {
  #dialogue-box {
    width: 35%;
  }

  #personaje {
    margin-top: 45%;
    align-self: center;
  }
  #dialogue-text {
    font-size: 2.2rem;
  }

  #next-btn svg {
    width: 70px;
    height: 70px;
  }
  #character img {
    width: 20%;
  }
}